<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layout :: main-fragment(~{:: title}, ~{:: #main-content})}"
>
  <head>
    <title>Danh sách nhà tuyển dụng</title>
  </head>
  <body>
    <th:block id="main-content">
      <div class="container">
        <h1>Danh sách nhà tuyển dụng</h1>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Logo</th>
              <th scope="col">Website</th>
              <th scope="col">Email</th>
              <th scope="col">Tuỳ chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="employer, iStat:${employers}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td>
                <a
                  th:href="@{|/employer/detail/${employer.id}|}"
                  th:text="${employer.name}"
                ></a>
              </td>
              <td>
                <img
                  th:src="|/${employer.logo_path}|"
                  alt=""
                  class="logo-small"
                />
              </td>
              <td>
                <a
                  th:href="${employer.website}"
                  th:text="${employer.website}"
                  target="_blank"
                ></a>
              </td>
              <td th:text="${employer.email}"></td>
              <td>
                <form th:action="@{${'update/' + employer.id}}" method="GET">
                  <input
                    class="btn btn-sm btn-secondary"
                    type="submit"
                    value="Update"
                  />
                </form>
                <form th:action="@{${'delete/' + employer.id}}" method="GET">
                  <input
                    class="btn btn-sm btn-danger mt-1"
                    type="submit"
                    value="Delete"
                  />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </th:block>
  </body>
</html>
