<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layout :: main-fragment(~{:: title}, ~{:: #main-content})}"
>
  <head>
    <title>Chi tiết việc làm</title>
  </head>
  <body>
    <th:block id="main-content">
      <div class="container">
        <h1 th:text="${job.title}"></h1>

        <div class="col-6">
          <table class="table table-bordered">
            <tr>
              <th>Nhà tuyển dụng</th>
              <td>
                <p th:text="${employer.name}"></p>
                <img
                  th:src="@{${'~/' + employer.logoPath}}"
                  alt=""
                  class="logo-small"
                />
              </td>
            </tr>
            <tr>
              <th>Mô tả</th>
              <td>
                <p th:text="${job.description}"></p>
              </td>
            </tr>
            <tr>
              <th>Thành phố</th>
              <td>
                <p th:text="${job.city.label}"></p>
              </td>
            </tr>
            <tr>
              <th>Cập nhật lúc</th>
              <td>
                <p th:text="${{job.updated_at}}"></p>
              </td>
            </tr>
            <tr>
              <th>Khởi tạo lúc</th>
              <td>
                <p th:text="${{job.created_at}}"></p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </th:block>
  </body>
</html>
